:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", sefir;
    --body-font: Arial, Helvetica, sans-serif;
}
header {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px 40px;

}
.logo {
  width: 120px;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    padding: 8px 16px;
    background: rgb(204, 217, 231);
    border-radius: 8px;
    color: #212020;
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}

.hero {
  position: relative;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}
.hero article {
  position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
  float: right;
  width: 120px;
  background-color: var(--secondary-color);

}
.adventures {
    padding: 40px;
    text-align: center;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

figure {
    width: 180px;
}

figure img {
    width: 60%;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
}

footer {
    background: #f6fafa;
    padding: 20px;
    text-align: center;
}

.socialmedia img {
    width: 30px;
    margin: 0 5px;
}