main {
    max-width: 840px;
}
nav a {
    color: white;
    padding: 10px;
    display: block;
    background-color: azure;
    padding: 3px;
}

h1 {
    color: steelblue;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid ghostwhite;
    padding: 2px;
    box-shadow: 0 0 0 12px gray;
}
p {padding: 0;}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
